* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #333;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6d6d6d;
}

.activate {
    background-color: #04AA6D;
}


li:active {
    background: #04AA6D;
}

fieldset {
    margin-top: 50px;
    padding: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 600px;
    gap: 10px;
}